/* pc */

body {
	background: #ccc;
}

.container {
	max-block-size: 1200px;
	margin: 0 auto;
	display: flex;
	outline: 1px solid red;
}

header {
	height: 97px;
	background: #333;
}

header nav a {
	color: #fff;
}

/* pc에서는 toggle 없음 */
#toggle {
	display: none;
}

header .container {
	justify-content: center;
	align-items: center;
	height: 100%;
}

header nav a {
	margin-left: 25px;
	margin-right: 25px;
}